.button-container1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #loadMoreButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #loadMoreButton:hover {
    background-color: #0056b3;
  }
  


